<div class="container">
<h3>Registration</h3>
<fieldset>
  <form name='regForm' novalidate>
    <table>
      <tr>
        <td>First Name</td>
        <td>
          <input type="text" name="firstname" placeholder="First Name"
            ng-model="regCtrl.user.firstname"
            required
            minlength="2">
        </td>
        <td>
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required)
                  && regForm.firstname.$touched">
            First name must be at least 2 characters long.
          </span>
        </td>
      </tr>

      <tr>
        <td>Last Name</td>
        <td>
          <input type="text" name="lastname" placeholder="Last Name"
            ng-model="regCtrl.user.lastname"
            required
            minlength="2">
        </td>
        <td>
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required)
                  && regForm.lastname.$touched">
            Last name must be at least 2 characters long.
          </span>
        </td>
      </tr>

      <tr>
        <td>Email</td>
        <td>
          <input type="email" name="email" placeholder="Email"
            ng-model="regCtrl.user.email"
            required>
        </td>
        <td>
          <span
            ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
        </td>
      </tr>

      <tr>
        <td>Phone</td>
        <td>
          <input type="text" name="phone" placeholder="Phone ###-###-####"
            required
            pattern="(\d{3})-(\d{3})-(\d{4})"
            ng-model="regCtrl.user.phone">
        </td>
        <td>
          <span
            ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####
          </span>
        </td>
      </tr>

      <tr>
        <td>Favorite Dish</td>
        <td>
          <input type="text" name="shortname" placeholder="Case Sensitive (eg. A1)"
            required
            ng-change="regCtrl.resetFind()"
            ng-model="regCtrl.user.shortname">
        </td>
        <td>
          <span
            ng-if="regForm.shortname.$error.required && regForm.shortname.$touched">
            Please enter your favorite Menu Number
          </span>
        </td>
        <td>
          <span
            ng-if="regCtrl.notFound">
            No such Menu Number exists
          </span>
        </td>
      </tr>

      <tr>
        <td>
          <button
            ng-disabled="regForm.$invalid || regCtrl.notFound"
            ng-click="regCtrl.submit()">Submit</button>
        </td>
      </tr>
    </table>

  </form>
</fieldset>
<span ng-if="regCtrl.isSaved">Your <a ui-sref="public.info">information</a> has been saved.</span>
</div>
